<!DOCTYPE html>
<html>
<head>
  <title>Book Issue Fail</title>
</head>
<body>
  <h3>We regret to tell you that your book issue request against book <%= @book.title %> & ISBN :<%=@book.isbn%> is not approved :(</h3>
</body>
</html>
